---
import { useTranslations } from '../i18n/ui';

const { locale = 'de' } = Astro.props;
const t = useTranslations(locale);
const contactLink = locale === 'de' ? '/kontakt' : '/tr/iletisim';
---

<div>
  <img src="/assets/profile-pic.webp" alt="ElternHerz Professionelle Elternbegleiterin">
  <p>
    <strong>ElternHerz</strong> {t('bio.text')} 
    <a href={contactLink}>{t('bio.link')}</a> {t('bio.linkSuffix')}
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
