<style>
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-main);
    font-family: var(--font-family-sans);
    font-size: 1.5em;
    font-weight: 700;
  }

  .logo-icon {
    margin-right: 0.5em;
    font-size: 1.3em;
    color: var(--primary-color);
  }

  .logo-text {
    color: var(--primary-color);
  }

  @media screen and (max-width: 520px) {
    .logo {
      font-size: 1.2em;
    }
  }
</style>

<a href="/" class="logo">
  <span class="logo-icon">❤️</span>
  <span class="logo-text">Elternherz</span>
</a>
